{% extends 'base.html' %}

{% block content %}
  {% include 'notification/students/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td class="align-middle">{{ event.name }}</td>
            <td class="align-middle">{{ event.date }}</td>
            <td class="align-middle">{{ event.location }}</td>
            <td class="align-middle">{{ event.tag.get_html_badge }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No upcoming event right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
