{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-3">Student Settings</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-3 pl-4 pt-4 mt-2">
        <div class="card">
          <div class="card-body">
            {{ form.interests|as_crispy_field}}
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 mb-3 pl-4 pt-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="form-row pb-2 mb-1">
              <h4><strong>Communications Preferences</strong></h4>
              <div class="col-md-6 pt-3 pb-5 mb-4">
                {{ form.email_unsub|as_crispy_field}}
              </div>
              <div class="col-md-6 pt-3 pb-5 mb-4">
                {{ form.sms_unsub|as_crispy_field}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'students:event_list' %}" class="btn btn-outline-secondary">Nevermind</a>
  </form>
{% endblock %}
