{% extends 'base.html' %}

{% load custom_filters %}
{% load humanize %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2 class="mb-3">My Events</h2>
  </div>
  <div class="col-md-6">
    <div class="row float-right">
      <div class="col-md-10 text-right">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-auto" role="group" aria-label="First group">
            {% if user.is_student %}
              <a href='/students/' class='btn btn-outline-secondary mb-3' role="button">Student Dashboard</a>
            {% endif %}
            <a href="{% url 'organizers:event_add' %}" class="btn btn-outline-info mb-3" role="button"><i class="fa fa-plus"></i> Add event</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="card">
    <table class="table mb-0 table-striped">
      <thead>
        <tr>
          <th class="align-middle">Event</th>
          <th class="align-middle">Date</th>
          <th class="align-middle">Location</th>
          <th class="text-right">Tags</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          {% if event.owner.id == user.id %}
            {% if event.date|less_than_two_days_old %}
              {% if event.date|past %}
              <tr data-toggle="popover" data-trigger="hover" title="Event Details">
                <td style="display:none">{{ event.id }}</td>
                <td class="align-middle">{{ event.name }}</td>
                <td class="align-middle">{{ event.date|naturaltime }}</td>
                <td class="align-middle">{{ event.location }}</td>
                <td class="text-right">
                  {% for tag in event.tag.all %}
                    {{ tag.get_html_badge }}
                  {% endfor %}
                </td>
                <td class="text-right">
                </td>
              </tr>
              {% else %}
              <tr>
                <td style="display:none">{{ event.id }}</td>
                <td class="align-middle">{{ event.name }}</td>
                <td class="align-middle">{{ event.date }}</td>
                <td class="align-middle">{{ event.location }}</td>
                <td class="text-right">
                  {% for tag in event.tag.all %}
                    {{ tag.get_html_badge }}
                  {% endfor %}
                </td>
                <td class="text-right">
                  <a href="{% url 'organizers:event_change' event.pk %}" style="color:#17a2b8;"><i class="fa fa-edit"></i></a>
                </td>
              </tr>
              {% endif %}
            {% endif %}
          {% endif %}
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">No events created in the past two days.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
